*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.all_content{
    background: #f7f5f2;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-slider-thumb{
    background: #b2744c;
    border-radius: 10px;
}

html ::-webkit-scrollbar{
    width: 10px;
}

#navbar{
    background-color: #b2744c;
}

#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}

.navbar-nav{
    margin-left: 50px;
}

.nav-item .nav-link{
    color: #000;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: #000;
}

#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}

#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../Assets/bc3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}

#home .content{
    padding-top: 210px;
    margin-left: 56px;
}

#home .content h3{
    font-size: 50px;
    color: white;
}

#home .content p{
    margin-top: 10px;
    color: white;
}

#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn:hover{
    background: #b2744c;
    color: white;
}

#about{
    width: 100%;
    height: 100vh;
}

#about .container{
    padding-top: 70px;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.heading span{
    color: #b2744c;
}

#about .card{
    border-radius: 10px;
}

#about .card img{
    border-radius: 10px;
}

#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 1px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

#about-btn:hover{
    color: white;
    background: #b2744c;
}

#top-cards{
    width: 100%;
    background: #f7f5f2;
}

.heading2{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heading2 span{
    color: #b2744c;
}

#top-cards .container{
    margin-top: 30px;
}

#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#top-cards .card img{
    border-radius: 10px;
}

#top-cards .card:hover{
    transform: translateY(-10px);
}

#menu{
    margin-top: 60px;
    width: 100%;
}

.heading3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #b2744c;
    border-bottom: 2px solid #b2744c;
}

#container2{
    margin-top: 30px;
}

#menu .card{
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

.star i{
    color: #b2744c;
}

#menu h3{
    font-size: 25px;
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
}

#menu p{
    font-size: 16px;
    color: #b2744c;
    margin-top: 10px;
}

#menu p span{
    float: right;
    cursor: pointer;
}

#product{
    width: 100%;
}

.heading4{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    border-bottom: 2px solid #b2744c;
}

#container3{
    margin-top: 30px;
}

#product h3{
    font-size: 23px;
    text-align: center;
    color: #b2744c;
}

#product p{
    color: #b2744c;
    padding-top: 10px;
}

#product p span{
    float: right;
    cursor: pointer;
}





@media screen and (max-width:982px) {
    #about p{
        font-style: 8px;
    }
}

@media screen and (max-width:766px) {
    #home{
        height: 110vh;
    }

    #about p{
        font-style: 15px;
    }

    #about {
        height: 120vh;
    }

    #top-cards{
        margin-top: 60px;
    }
}